<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.49.0" targetFramework="net471" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net471" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net471" />
  <package id="Google.Apis.Sheets.v4" version="1.49.0.2160" targetFramework="net471" />
  <package id="Google.GData.AccessControl" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Documents" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net471" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net471" />
  <package id="MessagePack" version="2.2.60" targetFramework="net471" />
  <package id="MessagePack.Annotations" version="2.2.60" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net471" />
  <package id="NPOI" version="2.5.2" targetFramework="net471" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net471" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net471" />
  <package id="UniRx" version="5.4.1.0" targetFramework="net471" />
</packages>